@using System.Web.Optimization
@using WebHelpers.Mvc5.Enum
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title@: -
        }
        AdminLTE
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @Styles.Render("~/Bundles/css")
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="overlay loading-div" id="loading">
        <i class="fa fa-refresh fa-spin loading-span"></i>
    </div>
    <div id="spin-loading" class="spin-loading" style="display: none;">
        <div id="spin-js"></div>
    </div>
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.Description</small>
                </h1>
            </section>

            <section class="content" id="main-content">
                @RenderBody()
            </section>
        </div>

        @Html.Partial("_ControlSidebar")
    </div>

    <div class="modal fade" id="modal-popup" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button onclick="closeModal('modal-popup')" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title" id="modal-title" style="font-size: 20px"></div>
                </div>
                <div class="modal-body" id="modal-body"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-confirm-popup" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button onclick="closeModal('modal-confirm-popup')" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title" id="modal-confirm-title" style="font-size: 20px"></div>
                </div>
                <div class="modal-body">
                    <p id="modal-confirm-content"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btn-modal-confirm-no" data-dismiss="modal">Hayır</button>
                    <button type="button" class="btn btn-primary" id="btn-modal-confirm-yes" data-dismiss="modal">Evet</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-popup-lg" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button onclick="closeModal('modal-popup-lg')" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title" id="modal-title-lg" style="font-size: 20px"></div>
                </div>
                <div class="modal-body" id="modal-body-lg"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-popup-sm" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button onclick="closeModal('modal-popup-sm')" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title" id="modal-title-sm" style="font-size: 20px"></div>
                </div>
                <div class="modal-body" id="modal-body-sm"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-popup-message" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button onclick="closeModal('modal-popup-message')" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title" id="modal-title-message" style="font-size: 20px"></div>
                </div>
                <div class="modal-body" id="modal-body-message"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-popup-sendmessage" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button onclick="closeModal('modal-popup-sendmessage')" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title" style="font-size: 20px" translate="user-message-notification"></div>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input class="form-control text-box single-line" id="sendUser" value="" type="text" style="display: none;">

                        <div class="form-group">
                            <label class="control-label col-md-2" translate="type"></label>
                            <div class="col-md-10">
                                <select class="selectpicker" id="messageType" onchange="messageType_change()">
                                    <option value="notification" translate="notification"></option>
                                    <option value="message" translate="message"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" translate="message"></label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="message" type="text">
                            </div>
                        </div>

                        <div class="form-group" id="icon-group-panel">
                            <label class="control-label col-md-2" translate="icon"></label>
                            <div class="col-md-10">
                                <select class="selectpicker" id="iconType" name="iconType">
                                    <option value="success" translate="success"></option>
                                    <option value="info" translate="info"></option>
                                    <option value="warning" translate="warning"></option>
                                    <option value="error" translate="error"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" style="height: 20px;">
                            <div class="modal-button">
                                <div class="btn btn-primary" onclick="sendMessage()" translate="send"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>
    @Scripts.Render("~/Bundles/js")
    <script src="~/signalr/hubs" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            var chat = $.connection.signalRHub;

            chat.client.pushNotification = function (userName, message, icon) {
                $.toast({
                    heading: htmlEncode(message),
                    icon: icon,
                    position: {
                        right: 1,
                        top: 51
                    }
                });
            };

            chat.client.pushMessage = function (userName, message) {
                openFormMessage(userName, message);
            };

            chat.client.clearTranslateCache = function() {
                setTranslateWords();
                loadTranslate();
                $.toast({
                    heading: translate('refresh-cache'),
                    icon: 'info',
                    position: {
                        right: 1,
                        top: 51
                    }
                })
            };

            chat.client.logOff = function () {
                $.toast({
                    heading: translate('logging-out'),
                    icon: 'info',
                    position: {
                        right: 1,
                        top: 51
                    }
                });
                setTimeout(function () {
                    logoff();
                }, 3000);
            };
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
</body>
</html>